USE [Sociobase]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 11.09.2015 18:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Keywords]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Keywords](
	[ID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Keywords_ID]  DEFAULT (newid()),
	[ArticleID] [uniqueidentifier] NOT NULL,
	[Word] [nvarchar](100) NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[Keywords] ([ID], [ArticleID], [Word]) VALUES (N'c6d11a18-c495-4faa-a7df-0d5493ad1e7a', N'4194b3f8-c058-4478-bfe3-f1147ff186a2', N'система')
INSERT [dbo].[Keywords] ([ID], [ArticleID], [Word]) VALUES (N'3546ec35-f161-408d-a9cc-0dedb476059b', N'6d631377-b0d6-4006-954a-c04f02303cf7', N'соціологія знання')
INSERT [dbo].[Keywords] ([ID], [ArticleID], [Word]) VALUES (N'f2e9727d-1526-4fcf-807f-10b3bae46418', N'4194b3f8-c058-4478-bfe3-f1147ff186a2', N'повсякдення')
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Keywords_Articles]') AND parent_object_id = OBJECT_ID(N'[dbo].[Keywords]'))
ALTER TABLE [dbo].[Keywords]  WITH CHECK ADD  CONSTRAINT [FK_Keywords_Articles] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Articles] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Keywords_Articles]') AND parent_object_id = OBJECT_ID(N'[dbo].[Keywords]'))
ALTER TABLE [dbo].[Keywords] CHECK CONSTRAINT [FK_Keywords_Articles]
GO
